
.searchFilter{
	width: 32%;
	height: auto;
	margin: 100px auto;
	padding: 20px;
	 box-sizing: border-box;
	 overflow: hidden;
	border: 2px solid #999;
}

#lable span{
	height: 25px;
	width: 25px;
	display: inline-block;
	background: url("p.png")no-repeat;
	background-size: 80%;
	float: left;
}
#lable h4{
	line-height: 1.5;
	margin-left: 33px;
}

.searchFilter ul li{
	list-style: none;
}

.searchFilter button{
	width: 32%;
	margin: 10px auto;
}

input[type=checkbox]{
    background: url("lable.png") -24px -73px no-repeat; 
 }


#myModal{
	padding: 20px;
}
